#Titulo{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(54, 51, 66);
    background: linear-gradient(rgb(13, 144, 161), rgb(53, 224, 187));
    padding: 4rem;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow:2;
    justify-content: center;
    min-width: 80%;

}
.links{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    background: linear-gradient(rgb(13, 144, 161), rgb(32, 45, 160));
    padding: 2rem;
    margin-left: 2em;
}
.links li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
    margin-top:10px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;;
}
.links li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;

}