@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  background-repeat: no-repeat;
}

header {
  background-color: #0a0a0a;
  color: #39ff14;
  padding: 1rem 2rem;
  border-bottom: 2px solid #39ff14;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  color: #39ff14;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #b388eb;
}
