header {
    background-color: #0077b6;
    padding: 1rem;
    color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

nav h1 {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Responsivo para telas pequenas */
@media (max-width: 600px) {
    nav h1{
        text-align: center;   
    }
    nav {
        flex-direction: row;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    nav li {
        width: 100%;
        background-color: black;
        justify-content: center;
        width: 10rem;
        margin-left: auto;
    }

    nav a {
        display: block;
        padding: 0.5rem 0;
    }
}
