.men {
    background-color: #d3d3d3;
    padding: 80px;
    
}
#Nome_site{
    text-align: center;
    border: 2px solid white;
    padding: 30px;
    background-color: #c1c1c1;
    margin-top: 10PX;
    

}

