body {
  background-color: rgb(3, 173, 188);
  margin: 0;
  padding: 0;

}

.ContainerP{
  position: relative;
  top: 18rem;
  margin: 0 auto;
  background-color: aliceblue;
  height: 400px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
