#Nome_site{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-top: 0px;
    padding: 40px;
    background-color: black;
    color: violet;

}