#Nome_site{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 0px;
    margin-top: 0px;
    padding: 60px;
    margin-bottom: 0px;
    background:  linear-gradient(rgb(13, 144, 161), rgb(53, 224, 187));
    color: white;

}

/* container div do links
/* menu é class dos links */

.Container{
    margin: 0px;
    background-color: rgb(213, 213, 223);
    margin-top: 0px;
    height: 90px;
}

.Menu{
    display: inline-block;
    margin-left: calc(100vw - 600px);
    margin-top: 30px;

}
.Menu li{
    background-color: rgb(99, 99, 235);
    display: inline;
    padding: 10px;
    margin: 10px;   
}
.Menu li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}