body {
    background-color: rgb(3, 173, 188);
    margin: 0;
    padding: 0;
  
  }
  
  .ContainerP{
    position: relative;
    top: 18rem;
    margin: 0 auto;
    background-color: aliceblue;
    height: 500px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 30px;
  }
  
  .ContainerP h1{
    padding: 20px;
    color: black;
    font-size: 30px;
    text-align: center;
  }
  
  .ContainerP nav ul li{
    background-color: aqua;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    list-style: none;
  
  }
  .ContainerP nav ul{
    width: 100%;
  }
  .ContainerP nav {
    width: 100%;
  }
  
  .ContainerP nav ul li a{
    text-decoration: none;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    
  }
  