
@media (max-width:650px) {
    footer div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: black;
        height: 15vw;

    }
    footer div p {
        text-align: center;
        color: white;

    };
    
}