#Menu_pag{
    background-color: aqua;
    border: solid 2px;
    padding: 60px;


}

#Menu_pag li{
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 0 auto;

}







@media screen and (max-width: 600px) {
    #Menu_pag{
        position: absolute;
        bottom: 0;
        height: 100vh;
        width: 10px;



    }

    #Menu_pag  li{


    }

    #Menu_pag li a {
        margin-left: 0 auto;
        font-size: 10;
        color: black;
        text-decoration: none;
        border: 2px;

    }

    
}