th, td{
    border: 2px solid black;
    padding: 20px;
    font-size: 10px;
    font-size: larger;
}

th {
    background-color: aquamarine;
}

td{
    background-color: antiquewhite;
}

#Media{
    background-color: rgb(125, 125, 139);
    color: azure;
}
 


table{
    margin: auto;
    border-collapse: collapse;
}

body{
    background-color: blanchedalmond;
    
}
