.card img{
    width: 300px;
    border-radius: 10px;
}
.CardsA{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    

}
.card{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 390px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}